@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.shine-text {
  display: inline-block;
  color: #d91a33;
  transition: all 0.4s ease;
}
.shine-text1 {
  display: inline-block;
  color: rgb(13, 204, 13);
  transition: all 0.4s ease;
}

.shine-text:hover {
  background: linear-gradient(
    120deg,
    #888 0%,
    #fff 20%,
    #d9d9d9 40%,
    #ffffff 50%,
    #bdbdbd 70%,
    #888 100%
  );


  background-size: 250% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: metalShine 1.2s linear infinite;
}

@keyframes metalShine {
  from {
    background-position: -200% center;
  }
  to {
    background-position: 200% center;
  }
}

.shine-text1:hover {
  background: linear-gradient(
    120deg,
    #888 0%,
    #fff 20%,
    #d9d9d9 40%,
    #ffffff 50%,
    #bdbdbd 70%,
    #888 100%
  );
  background-size: 250% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: metalShine 1.2s linear infinite;
}

@keyframes metalShine {
  from {
    background-position: -200% center;
  }
  to {
    background-position: 200% center;
  }
}